body
{
	background-image: url("img/main menu1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.kiri
{
	padding-top: 150px;
	color: white;
	padding-left: 150px;
	height: 300px;
}

p
{
	text-indent: 50px;
	padding-top: 10px;
	text-align: justify;
}
h1
{
	font-size: 400%;
}
.kanan1
{
	font-size: 200%;
	padding-top: 200px;
	text-align: center;
	height: 300px;

	width: 50%;
	float: left;
}

.kanan2
{
	padding-top: 40px;
	height: 100px;
}

.kanan3
{
	padding-top: 40px;
	height: 100px;
}

.kanan1 a
{
	color: white;
}
.col-6
{
	width: 50%
}
@media only screen and (max-width: 900px) 
{
    /* For mobile phones: */
   [class*="col-"] 
    {
        width: 100%;
    }
    container-fliud
    {
    	width: 100%;
    }
    body
    {
    	background-size: 200% 116%;
    }
   .kiri
   {
  		padding-top: 100px;
  		padding-left: 40px;
  		padding-right: 40px;

   }
}