.spasi1
{
	height: 50px;
	background-color: white;
}
img.logo
{
	padding-left: 50px;
	padding-top: 5px;
}
.witcher1
{
	text-align: center;
	padding-top: 10px;
	background-color: white; 
}
.witcher2
{
	text-align: center;
	padding-top: 10px;
	background-color: white; 
}
.witcher3
{
	text-align: center;
	padding-top: 10px;
	background-color: white; 
}
.witcher1 a
{
	color: gray;
}
.witcher2 a
{
	color: silver;
}
.witcher3 a
{
	color: gray;
}
.kiri
{
	color: white;
	padding-top: 100px;
}
form
{
	padding-left: 50px;
}
.kanan
{
	height: 600px;
	color: white;
}
h1
{
	padding-top: 40px;	
	padding-left: 25px;

}
p
{
	padding-top: 10px;
	padding-right: 25px;
	text-indent: 35px;
	text-align: justify;
}
p.p1
{
	padding-top: 50px;
	padding-left: 25px;
}
p.p2
{
	padding-left: 25px;
}
.satu
{
	background-image: url("img/witcher2.jpg"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.dua
{
	background-image: url("img/witcher 2.1.jpg"); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.kiri1
{
	height: 600px;
	color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
    color: white;
}

li a.active {
    background-color: gray;
    color: white;
}